@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');


body{
    background-color: #111217;
    font-family: "Inter", sans-serif;
    color: #9A9A9A;
}

header{
    display: flex;
    width: 100vw;
    height: 56px;
    background-color: #111217;
    border-bottom: 1px solid #28292E;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    justify-content: space-between;
}

.nav_buttons{
    text-decoration: none;
    color: #9A9A9A;
}

.nav_menu{
    display: flex;
    gap: 8%;
    font-size: 0.9rem;
}

.logo_nome{
    display: flex;
    justify-content: flex-end;
}

.logo_nome > img{
    width: 50%;
}

.container_apresentacao{
    display: flex;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container_textos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 24px;
}

.container_img{
    width: 100%;
}

.container_nome{
    color: #fff;
    text-transform: uppercase;
    padding-top: 1%;
}

.container_nome h1{
    font-size: 4rem;
    font-weight: 600;
}

.container_nome h2{
    font-size: 2rem;
    font-weight: 300;
}

.container_img > img{
    width: 100%;
    border-radius: 50%;
}

.container_descricao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.container_descricao h3{
    text-transform: uppercase;
}

.container_descricao p{
    color: #9A9A9A;
    padding-right: 15px;
}

.links{
    display: flex;
    gap: 10px;
    color: #9A9A9A;
    align-items: center;
    padding-left: 15px;
    height: 30px;
}

.menu_links{
    display: flex;
    gap: 10px;
    color: #9A9A9A;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}


.menu_link{
    width: 25px;
    height: 25px;
    color: #9A9A9A;
}

.btn{
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
}